<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-60 p-b-20">
        <form method="POST" id="signup-form" class="signup-form" class="login100-form validate-form">
            <span class="login100-form-title p-b-25">
                Create account with Eco Tech Zone
            </span>
            <div class="wrap-input100 m-b-10">
                <input type="text" class="input100" name="firstname" id="firstname" placeholder="First Name" />
            </div>
            <div class="wrap-input100 m-b-10">
                <input type="text" class="input100" name="lastname" id="lastname" placeholder="Last Name" />
            </div>
            <div class="wrap-input100 m-b-10">
                <input type="email" class="input100" name="email" id="email" placeholder="Your Email" />
            </div>
            <div class="wrap-input100 m-b-10">
                <input type="text" class="input100" name="password" id="password" placeholder="Password" />
                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
            <div class="wrap-input100 m-b-10">
                <input type="password" class="input100" name="re_password" id="re_password"
                    placeholder="Repeat your password" />
            </div>
            <div class="container-login100-form-btn  m-t-20 m-b-20">
                <button class="login100-form-btn">
                    Sign up
                </button>
            </div>
        </form>
        <p class="loginhere">
            Have already an account ? <a  routerLink="/" class="loginhere-link">Login here</a>
        </p>
    </div>
</div>